<footer class="jo-footer mt-2">
    <div class="container-fluid">
        <div class="container py-2">

            <div class="row">
                <!-- نبذة -->
                <div class="col-md mb-3">
                    <h6>جو أوفر</h6>
                    <p>
                        منصة إلكترونية لعرض الإعلانات والعروض الموثوقة في الأردن.
                    </p>

                    <div class="d-flex justify-content-center gap-2 mt-2">
                        <a class="social-icon"><i class="fab fa-facebook-f"></i></a>
                        <a class="social-icon"><i class="fab fa-instagram"></i></a>
                        <a class="social-icon"><i class="fab fa-x-twitter"></i></a>
                        <a class="social-icon"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <!-- تواصل معنا -->
                <div class="col-md mb-3">
                    <h6>تواصل معنا</h6>
                    <p>📍 عمّان - الأردن</p>
                    <p>📞 0790000000</p>
                    <p>✉ info@jooffers.com</p>
                </div>

                <!-- روابط -->
                <div class="col-md mb-3 justify-content-center">
                    <h6>روابط سريعة</h6>
                    <ul class="list-unstyled">
                        <li><a href="/">الرئيسية</a></li>
                        <li><a href="/Hub">الإعلانات</a></li>
                        <li><a href="/Home/About">من نحن</a></li>
                        <li><a href="/Home/Contact">اتصل بنا</a></li>
                    </ul>
                </div>

       

            </div>

            <hr />

            <div class="footer-bottom">
                © 2025 جو أوفر – جميع الحقوق محفوظة
            </div>

        </div>
    </div>
</footer>
