@{
    ViewData["Title"] = "Home Page";
}

@* @section FullWidthHeader
{
    @await Html.PartialAsync("_Header")
} *@

<div id="random-announcements">
    <div class="text-center">Loading...</div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("#random-announcements").load("/Hub/RandomAnnouncementsTop30");
        });
    </script>
}